.pf-category-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;

}

.pf-category-box {
  width: 80px;
  height: 25px;
  border: 1px solid var(--color-border-primary);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pf-category-box span {
  font-size: 12px;
  color: var(--color-font-primary);
}
