@media (min-width: 320px) {
  .pf-arrow-container {
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }

  .pf-arrow-container svg {
    width: 50px;
    color: var(--color-font-primary);
  }
}

@media (min-width: 576px) {
  .pf-arrow-container {
    width: 30px;
    height: 30px;
  }

  .pf-arrow-container svg {
    width: 30px;
  }

  .stick {
    position: fixed;
    top: 50px;
    left: 20px;
    z-index: 999;
  }
}