@media (min-width: 320px) {
  .pf-projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  }
}

/*-----------------------------------------------------------------------*/

