@media (min-width: 320px) {
  .pf-projects-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 100px;
  }
}

/*-----------------------------------------------------------------------*/
