@media (min-width: 320px) {
  .pf-contact-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  .pf-contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .pf-contact-card svg {
    width: 100px;
    fill: var(--color-font-primary);
    transition: 0.2s ease-in-out;
  }

  .pf-contact-card:hover svg{
    transform: scale(1.05);
    
  }

  .pf-contact-card span {
    font-size: 16px;
    font-weight: 700;
    color: var(--color-font-primary);
  }
}

/*-----------------------------------------------------------------------*/

@media (min-width: 576px) {
  .pf-contact-card svg {
    width: 150px;
  }

  .pf-contact-card span {
    font-size: 20px;
  }
}
