@media (min-width: 320px) {
  .pf-svg-container {
    margin: 0 auto;
  }
  .pf-svg-container svg {
    stroke-width: 1px;
    width: 250px;
    stroke: var(--color-font-primary);
    stroke-dashoffset: 1090;
    stroke-dasharray: 1090;
    animation: svg-anim 3s ease-in-out forwards;
  }

  .pf-text-container {
    margin: 0 auto;
    margin-top: 35.5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .pf-text-container p {
    font-size: 16px;
    text-align: center;
    color: var(--color-font-primary);
  }

  .pf-text-container span {
    font-weight: 700;
  }
}

@media (min-width: 576px) {
  .pf-text-container {
    gap: 20px;
  }

  .pf-text-container p {
    font-size: 24px;
  }
}
